    <div class="matrika-footer">
      <div class="container">
        <p>&copy; 2021, Kamnik, Slovenija</p>

	    <p class="matrika-copyright">Obiskovalci lahko berejo, brskajo in/ali prenesejo članke za osebno in nekomercialno uporabo.</p>

		<p class="matrika-copyright">Readers may view, browse, and/or download material for temporary copying purposes only, provided these uses are for noncommercial personal purposes.</p>
	  </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
