    <div class="matrika-header">
      <div class="container">
        <div class="matrika-title"></div>
        <p class="matrika-description">Izbrane teme sodobne fizike in matematike</p>
      </div>
    </div>
    <div class="matrika-header-line"></div>
    <div class="matrika-mastnav">
      <div class="container">
        <nav class="matrika-nav">
          <a class="matrika-nav-item{% if page.identifier == "index" %} active{% endif %}" href="{% relative %}O_meni.html">O meni</a>
          <a class="matrika-nav-item{% if page.identifier == "kolofon" %} active{% endif %}" href="{% relative %}1_letnik.html">1. Letnik FMF</a>
          <a class="matrika-nav-item{% if page.identifier == "arhiv" or page.identifier == nil %} active{% endif %}" href="{% relative %}2_letnik.html">2. letnik FMF</a>
          <a class="matrika-nav-item{% if page.identifier == "navodila" %} active{% endif %}" href="{% relative %}3 LETNIK/3_letnik.html">3. letnik FMF</a>
          <a class="matrika-nav-item{% if page.identifier == "iskalnik" %} active{% endif %}" href="{% relative %}iskalnik.html">Iskalnik</a>
        </nav>
      </div>
    </div>