---
layout: default
---

      <div class="row">

        <div class="col-sm-8 matrika-main matrika-article">

          <h2 class="matrika-first-title">{{ page.title }}</h2>

          {{ content }}
          
        </div><!-- /.matrika-main -->

        <div class="col-sm-3 col-sm-offset-1 matrika-sidebar">
          <div class="sidebar-module sidebar-module-inset matrika-article-sidebar">
          	<p class="info">avtor: {{ page.author }}<br>
          	    številka: {{ page.stevilka }}<br>
          		letnik: {{ page.letnik }}</p>
          	<p class="pdf info"><a href="{{ page.filename }}.pdf">PDF ({{ page.size }})</a></p>
            <p><a href="index.html">Vsi članki iz te številke</a></p>
          </div>
        </div><!-- /.matrika-sidebar -->

      </div><!-- /.row -->
