---
layout: default
---

      <div class="row">

        <div class="col-sm-12 matrika-main matrika-article-list">

            <h2 class="matrika-first-title">{{ page.title }}</h2>
            <p><a href="../arhiv.html">Nazaj na arhiv</a></p>

            {{ content }}

            <div class="row-2">
            {% for s in site.stevilke %}
            	{% if s.letnik == page.letnik %}
                <div class="col-2">
			    	      <h3><a href="stevilka-{{ s.stevilka }}/">Številka {{ s.stevilka }}</a></h3>
			    	      <p>{{ s.date | date: '%-d. %-m. %Y' }}</p>
                  <a href="stevilka-{{ s.stevilka }}/" class="title-inline-label title_{{ s.letnik }}_{{ s.stevilka }}"></a>
			    	      <p class="last"></p>
                </div>
            	{% endif %}
			      {% endfor %}
            </div>
        </div><!-- /.matrika-main -->

      </div><!-- /.row -->
